

body,h1,h2,h3,h4,h5 {
  font-family: "Poppins", sans-serif
}

body {
  font-size:16px;
}

img {
  margin-bottom:16px;
}

.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
}

.photoSlides {display:none;}

.contact_Item {
  font-size:4vw;
  padding:2vw;
  color: white;
}

.sobreMarginTop {
  margin-top: 0px;
}

.socialMediaMarginTop {
  margin-top: 8vh;
}

.membro {
  width:60%;
  text-align: center;
}

.timesCircle:hover {
  color: red;
}

@media only screen and (max-width: 601px) {
<<<<<<< HEAD
  .contact_Item {
    padding:2vw;
  }
  .sobreMarginTop {
    margin-top:8%;
  }
  .socialMediaMarginTop {
    margin-top: 18vh;
  }
  .membro {
    width:50%;
  }
  .slideshow-container {
    max-width: 95%;
    position: relative;
    margin: auto;
  }
  .contact_Item:hover, .contact_Item:active {
    background-color: none;
    font-size: 6vw;
    padding: 0px;
    
  }
=======
          .contact_Item {
            padding:2vw;
          }
          .sobreMarginTop {
            margin-top:8%;
          }
          .socialMediaMarginTop {
            margin-top: 8vh;
          }
          .membro {
            width:50%;
          }
          .slideshow-container {
            max-width: 95%;
            position: relative;
            margin: auto;
          }
          .contact_Item:hover, .contact_Item:active {
            background-color: none;
            font-size: 9vw;
            padding: 0px;
          }
          .contact_Item {
            font-size:6vw;
            padding:2vw;
            color: white;
        }
  
>>>>>>> 19a08736c981466faed55bdec4cb017106b366fa
}

.contact_Item:hover, .contact_Item:active {
  background-color: none;
  font-size: 4vw;
  padding: 0px;
}

.tweeter:hover, .tweeter:active {
  color: #00acee;
}

.youtube:hover, .youtube:active {
  color: #FF0000;
}

.instagram:hover, .instagram:active {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  color: #fff;
  test-decoration: none;
}

.bars:hover, .bars:active {
  color: white;
  opacity: 1;
  background-color: none;
}

.bars {
  color: white;
  opacity: 0.6;
}

.facebook:hover, .facebook:active {
  color: #3b5998;
}

a:hover {
  text-decoration: none;
}
